In [30]:
#ABRIR A BASE DE DADOS
import pandas as pd
tabela = pd.read_csv("banco de daos tcc.csv")
#colocar todas as letras em minuscula 
tabela= tabela.applymap(lambda x: x.lower() if isinstance(x, str) else x)


#VISUALIZAR A BASE DE DADOS
print(tabela.info())
          #ENTENDER A AS INFORMAÇOES DA BASE DE DADOS 
          #PROCURAR OS ERROS DA BASES DE DADOS

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47 entries, 0 to 46
Data columns (total 22 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   MOLECULAS    47 non-null     object
 1   NATHALIA     47 non-null     object
 2   ALUNO A      47 non-null     object
 3   FRANCIELY    47 non-null     object
 4   ALUNO B      47 non-null     object
 5   ALUNO C      47 non-null     object
 6   FABIO        47 non-null     object
 7   MARIANA      47 non-null     object
 8   VICTOR       47 non-null     object
 9   JANIO        47 non-null     object
 10  ALUNO X      47 non-null     object
 11  ALUNO Y      47 non-null     object
 12  ALUNO W      47 non-null     object
 13  ALUNOZ       47 non-null     object
 14  ALUNO Z      47 non-null     object
 15  ALUNO V      47 non-null     object
 16  AMANDA       47 non-null     object
 17  JOAO CARLOS  47 non-null     object
 18  ALUNO  D     47 non-null     object
 19  ALUNO T      47 non-null     object
 20  ALUNO S      47 non-null     object
 21  LUANA        47 non-null     object
dtypes: object(22)
memory usage: 8.2+ KB
None

In [31]:
#TRATAO OS DADOS
display(tabela.describe())

,MOLECULAS,NATHALIA,ALUNO A,FRANCIELY,ALUNO B,ALUNO C,FABIO,MARIANA,VICTOR,JANIO,...,ALUNO W,ALUNOZ,ALUNO Z,ALUNO V,AMANDA,JOAO CARLOS,ALUNO D,ALUNO T,ALUNO S,LUANA
count,47,47,47,47,47,47,47,47,47,47,...,47,47,47,47,47,47,47,47,47,47
unique,26,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
top,álcool,errado,correto,correto,correto,correto,correto,errado,errado,correto,...,correto,correto,correto,correto,correto,correto,correto,correto,correto,correto
freq,6,29,29,32,33,33,36,26,28,37,...,32,39,32,41,34,39,31,43,34,28

In [38]:
#TRATAO OS DADOS
quantidade_corretas = (tabela.iloc[:, 1:] == 'correto').sum().sum()
quantidade_erradas = (tabela.iloc[:, 1:] == 'errado').sum().sum()

# Imprima os resultados
print('Quantidade de moléculas corretas:', quantidade_corretas)
print('Quantidade de moléculas erradas:', quantidade_erradas)

Quantidade de moléculas corretas: 674
Quantidade de moléculas erradas: 313